
@media screen and (min-width: 1024px){
  .App {
    width: 70vw;
    margin-left: 15vw;
  }



  .summary-Section{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .summary-column{
    display: flex;
    flex-flow: column;
    align-items: baseline;
    text-align: left;
  }

  .summary-column div{
    width: 20vw;
    border-bottom: solid 1px lightgray;
  }

  .summary-column p{
    font-size: 10px;
  }

  /* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
}